<body>


    <div class="container">
        <section class="info">

            <div class="card mb-3">
                <!-- <figure> -->
                <img class="img-info" src="" class="card-img-top" alt="...">
                <!-- </figure 
                    https://scontent.fsvq2-1.fna.fbcdn.net/v/t39.30808-6/271539489_291600093011676_8228696733347619712_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=e3f864&_nc_ohc=KjURNGOBYcIAX-OvLWS&_nc_ht=scontent.fsvq2-1.fna&oh=00_AT-BCwLBy8xEAjTchXSIlKb_t1rTZuAVxcBgt1FJDCCgcg&oe=62E1FB78
                    https://cdn.shopify.com/s/files/1/2509/9970/files/junji_ito_skills.jpg?v=1631698564> -->
                <div class="card-body">

                    <figure class="figure-info">
                        <img class="img-info"
                            src="https://scontent.fsvq2-2.fna.fbcdn.net/v/t39.30808-6/271562370_291600096345009_6304436848711794501_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=JZwxyAZjrKYAX9lPMBv&_nc_ht=scontent.fsvq2-2.fna&oh=00_AT914AN-qUinPcM_R26rbBZtW-3Fwr97ejc_cKnNdaOzsA&oe=62E218AD"
                            alt="">
                    </figure>

                    <div clss="subinfo">

                        <div class="stats">
                            <ul>
                                <li><a href=""> Fanzines<p>9</p>
                                    </a></li>
                                <li><a href=""> Seguidores<p>2</p>
                                    </a></li>
                                <li><a href=""> Seguidos<p>3</p>
                                    </a></li>
                            </ul>
                        </div>
                        <div class="header-info">
                            <h5 class="card-title">YFLA</h5>
                            <p class="card-text">Youth Fun Liberation Army ||||
                                La lucha constante contra todas las cosas que empujan a la juventud hacia un precipicio
                                de
                                apatía materializada en forma de colectivo punk.</p>
                        </div>
                    </div>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </section>



        <section class="row">

            <article class="post col-12 col-md-3 col-lg-3" *ngFor="let Post of arrPosts">
                <div class="single-blog-item">
                    <!-- <pdf-viewer [src]="" [render-text]="true"
                        [original-size]="false" style="width: 33%; height: 100px"></pdf-viewer> -->
                    <figure class="blog-thumnail">
                        <img class="post_image" [src]="'http://localhost:3000/images/posts/' + Post.file"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">{{Post.title}}</span>
                    <span class="blog-autor">{{Post.date_publish}}</span>
                </div>
            </article>







            <!-- <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://ramenparados.com/wp-content/uploads/2020/12/yuko-junji-ito.jpg" alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image" src="https://images-na.ssl-images-amazon.com/images/I/71Ypd25+3VL.jpg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://i.pinimg.com/736x/b1/30/da/b130da23a1c9f8d69a2a71c7c3f90859--cnx-alternative.jpg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://www.barrio-obrero.com/imagenes/20210617/lb-058-fanzine-amamos.jpg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image" src="https://i.ebayimg.com/images/g/cx0AAOSwVORh-GUc/s-l500.jpg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_b9Q6J85PonEF8LOrPiJWJ_a0Iig5Xomkse2jpz0FZvSf7TmX6Bkqha9eK9AaBxTEZHE&usqp=CAU"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://ddtbanaketak.com/wp-content/uploads/2022/06/Wrack-7-Cuervo-Zine-septiembre-2021-324x460.jpg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://mediaroot.nyc3.digitaloceanspaces.com/post/instagram/CbfmjIOK4wX.jpeg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>

            <article class="post col-12 col-md-3 col-lg-3">
                <div class="single-blog-item">
                    <figure class="blog-thumnail">
                        <img class="post_image"
                            src="https://images.squarespace-cdn.com/content/v1/5649a3efe4b0460e19c4f2cf/1499963826370-AMMPNNUVYVG0B4WUU6VL/image-asset.jpeg"
                            alt="blog-img">
                    </figure>
                    <span class="blog-date">Título</span>
                    <span class="blog-autor">date.pubish</span>
                </div>
            </article>
 -->



        </section>



    </div>

</body>